body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #1e3a8a;
}

form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

input {
  padding: 0.5rem 1rem;
  width: 10rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #5f81f0;
}

table {
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

.tableHeader{
    text-align: center;
}
th, td {
  border: 1px solid #e5e7eb;
  padding: 10px 12px;
  text-align: left;
  font-size: 1rem;
}

th {
  background-color: #e0e7ff;
  color: #1c1d1d;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #9ea0a1;
}

